.CardTitle {
    font-size: 30px;
}

.AdvertBar {
    text-align: right;
}

.Advert figure,
h5 {
    margin: 0 0;
}

.Heart {
    color: #AD35F7;
}

.Heart:hover {
    color: #3e1747;
}

.HeartOutline:hover {
    color: #AD35F7;
}