.App {
    font-family: "Poppins", sans-serif;
    background-color: #e0dbdb;
    min-height: 100vh;
}

.Main {
    padding-top: 81px;
}

.Content {
    background-color: #dddddd;
    padding: 10px;
    border-radius: 2px;
    border: 1px solid #43026e;
}

.FillerImage {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.Image {
    max-height: 40vh;
    max-width: 100%;
    object-fit: contain;
}

* {
    box-sizing: border-box;
}

a {
    color: #18181b;
}

a:hover {
    text-decoration: none;
    color: #7925ad;
}

a:hover i {
    color: #7925ad;
    transition: color ease-in-out 0.3s;
}

input[type="file"] {
    display: none;
}

i {
    color: #342646;
    font-size: 1.6rem;
    padding: 6px;
    vertical-align: middle;
}

i:hover {
    cursor: pointer;
    transition: color ease-in-out 0.3s;
    color: #7925ad;
}

figure {
    text-align: center;
    display: inline-block;
}

/* scroll bar */
*::-webkit-scrollbar {
    width: 7px;
}

*::-webkit-scrollbar-track {
    background: #9292a1;
}

*::-webkit-scrollbar-thumb {
    background: #888;
}

*::-webkit-scrollbar-thumb:hover {
    background: #555;
}