.App {
    font-family: "Poppins", sans-serif;
    background-color: #f8f8f8;
    min-height: 100vh;
}

* {
    box-sizing: border-box;
}

a {
    color: #AD35F7;
}

a:hover {
    text-decoration: underline;
}

a:hover i {
    color: #AD35F7;
    transition: color ease-in-out 0.3s;
}

i {
    color: #9292a1;
    font-size: 1.6rem;
    padding: 6px;
    vertical-align: middle;
}

i:hover {
    cursor: pointer;
    transition: color ease-in-out 0.3s;
    color: #AD35F7;
}